.main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.ball-container {
  margin: 0 auto;
  position: relative;
  width: 200px;
}

.ball {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
}

.ball:nth-child(2) {
  left: 50px;
}

.ball:nth-child(3) {
  left: 100px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: 5px;
  }
}

.ball:nth-child(1) {
  animation: bounce 1s infinite alternate, rotate 2s linear infinite;
}

.ball:nth-child(2) {
  animation: bounce 1s infinite alternate, rotate 2s linear infinite;
  background-color: rgb(148, 160, 214);
}

.ball:nth-child(3) {
  animation: bounce 1s infinite alternate, rotate 2s linear infinite;
}
